*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #19A2AE;
    background-image:  url(images/bg-pattern-bottom.svg) , url(images/bg-pattern-top.svg);background-position: 50vw 50vh, calc(50vw - 1015px) calc(50vh - 864px);
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'kumb';
    src: url(fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}


.container-father{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    border-radius: 20px;
    background-color: white;
    width: 350px;
    height: 360px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.548);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-background{
    border-radius: 20px 20px 0px 0px;
    width: 350px;
    height: 145px;
}

.victor-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -95%);
   
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.img-victor{
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

h1{
    font-size: 18px;
    padding: 15px 0px 15px 0px;
}


.text-main > p{
    font-size: 13px;
}

.text-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2D3248;
    font-family: 'kumb';
    height: 140px;
    width: 350px;
}
.text-london{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-london > p{
    padding: 0px 0px 0px 10px;
}

.statistic{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.185);
    font-family: 'kumb';
    justify-content: space-around;
    align-items: center;
    height: 70px;
    text-align: center;
}

.statistic-fonts > h2{
    color: #2D3248;
    font-size: 18px; 
}

.statistic-fonts > p{
    letter-spacing: 2px;
    color: #2D3248;
    line-height: 20px;
    font-size: 10px; 
}

